/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(246, 238, 238);}
main { width: 90%; margin: 0 auto;}

.navbar {-webkit-box-shadow: 3px 10px 5px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 5px -10px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 5px -10px rgba(0,0,0,0.75); padding: 0.5em;
  color: #e2c85d;
}

  .bg_nav{
    background-color: rgba(175,92,152,255);
  }

.slider-box {
  margin-top: 2px; width: 100%; -webkit-box-shadow: 3px 10px 5px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 5px -10px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 5px -10px rgba(0,0,0,0.75);
}
.picsum-img-wrapper img {width: 100%}

.section {
  background-color: aliceblue; padding: 1em; border: 1px solid #cff;
}
