<div class="section">
  <div class="card-body">
    <div class="text-center"><h4>UP BOARD RESULTS 2023-24 <a href="/school-toppers" class="btn btn-success">Toppers List </a></h4></div>
       <marquee style="color:#e95f1a;" >NEHA VERMA D/O RAMMAN KUMAR secured 9th Rank in 12th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* ANUSHKA DEVI D/O RAMESH KUMAR secured 9th Rank in 10th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * JANVI SINGH D/O SANJAY SINGH  secured 10th Rank in 10th </marquee>
  </div>

  <div class="card-body">
    <h3 class="card-title">त्रिवेणी काशी इंटर कॉलेज</h3>
    <div>
      जैसा कि स्वयं सिद्ध व सर्वविदित है कि जनपद उन्नाव के वक्षस्थल पर  फैली परम पावन बैसवारा भूमि अतीत से ही अनगिनत रक्त - रंजित क्रान्तियों एवं ज्ञान,ध्यान व दर्शन की विरूढावलियों   को अपने आप में समाहित किये हुए है। कहीं चंद्रशेखर आजाद की सिंह - गर्जना ,कहीं राजा रावराम बक्श की तलवार का पानी , कहीं नन्द दुलारे बाजपेई जी का सशक्त लेखन,कहीं शिव बहादुर सिंह भदौरिया जी का बासंती काव्य, "कहीं प्रताप नारायण मिश्र जी का पाण्डित्य पूर्ण चिन्तन, कहीं शिवमंगल सिंह सुमन जी" का प्रगतिवादी काव्य, कहीं रमई - काका  की फाल्गुनी फुहार तो कहीं अखिल विश्र्व में प्राण फूंकती महाप्राण निराला की प्राणवन्त काव्य - धारा का प्रबल प्रवाह, न जाने कितने रंग हैं? कितने ही रूप ? इसकी कमनीयता और कठोरता के, जिसका गुणानुवाद शायद हमारी  सामर्थ्य की सीमा से परे है।
    </div>
    <br>
    <div>
      ऐसे ही पावन भूखण्ड के मध्य विकास, क्षेत्र सुमेरपुर तहसील बीघापुर - उन्नाव के अन्तगर्त बिहार नामक स्थान में श्री चण्डिका देवी शक्ति - पीठ से निस्सरित दिव्यलोक द्वारा अनुप्राणित त्रिवेणी काशी इण्टर कॉलेज,बिहार -उन्नाव के नाम से आप सब की यह अल्प -वय संस्था इस भूमि की सेवा में रत है।
    इसका बीजारोपण १६ जुलाई गुरुवार सन १९८४ को हुआ। निर्विवाद रूप से यह प्रेरणा वात्सल्य की प्रतिमूर्ति स्व. त्रिवेणी देवी चौहान पत्त्नी स्व. काशीदीन सिंह चौहान नि. चौहाननखेड़ा, जमीपुर-उन्नाव की ही थी, जिसके संपोषण हेतु उनके पुत्रों को ऊर्जा प्राप्त हुई परम संत मरहम शाह दाता एवं अनमोल शाह जी की चरण धूलि से, अव्वल शब्दाशीष फलित हुआ सन 2000 में हाईस्कूल की विधिवत मान्यता के साथ , जिसके संस्थागत उदीयमान छात्र हरीश अवस्थी प्रदेश श्रेष्ठता सूची में अव्वल स्थान पर रहा।
    </div>
    <br>
    <div>
      अंततः सन २००४ में विद्यालय को इंटरमीडिएट विज्ञान  वर्ग (गणित एवं जीवविज्ञान ) की मान्यता प्राप्त हुई। एवं तदुपरान्त कंप्यूटर व कला वर्ग के सभी महत्वपूर्ण विषयों की भी मान्यता विद्यालय को शासन द्वारा प्राप्त हो चुकी है। मंथर गति से अग्रसर समय के पन्नों पर आने वाले कल का इतिहास लिखने को बेचैन, "जय विज्ञान" ध्येय  की लक्ष्य-लुब्ध  यह साधारण सी संस्था स्वाकार विस्तार में संलग्न है। शैक्षिक महायज्ञ में श्रम - निष्ठा की पावन यज्ञाहुतियाँ अर्पित करते हुए कभी - कभी सम्पूर्ण तंत्र को यज्ञ -ज्वाला की आँच ने विचलित भी किया परन्तु माँ त्रिवेणी की अन्तः प्रेरणा,प्रबंधतंत्र के सम्यक चिंतन,क्षेत्रीय अभिभावकों के स्नेह,शिक्षकों के सृजनात्मक विचारों,भाई अजीत सिंह (वि. प. सदस्य ) के संप्रयासों   एवं  प्रदेश शासन के अभूतपूर्व सहयोग आदि की शीतल फुहार ने सुखद अनुभूति से सिक्त  कर  दिया।
    </div>
  </div>
</div>


